<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    /* 공통 스타일 */
    * {
      box-sizing: border-box;
    }
    table {
      border-collapse: collapse;
    }

    .cart-background {
      width: 100%;
      background-color: lightsteelblue;
      padding: 30px;
    }

    .inner {
      width: 100%;
      max-width: 700px;
    }
  </style>
</head>
<body>
  <div class="cart-background">
    <!-- 가운데 정렬을 위한 div -->
    <div class="inner">
      <h2>장바구니</h2>
      <table class="cart-list">
        <!-- 4행 5열 만들기 -->

      </table>
      <div class="btn-group">
        <a href=""></a>
        <button type="button" class="btn"></button>
      </div>
    </div>
  </div>
</body>
</html>