.header--dark {
  width: 100%;
  background: #1c1c1c;
  color: #fff;
  display: flex;
  padding: 0 20px;
}

.inner {
  padding: 0 20px;
}

.list {
  margin: 20px 0;
  padding: 0 10px 10px;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
}
.list:hover {
  background: #eaeaea;
}